/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

$seafoam: #8BFFCE;
$seafoam-90: #96FFD2;
$seafoam-75: #A6FFD9;
$seafoam-50: #C2FFE6;
$seafoam-25: #E0FFF2;
$seafoam-10: #F2FFFA;
$seafoam-5: #F9FFFC;

a {
  color: #343434;
}

a:hover {
  color: #141414;
}

h1.movie__title {
  font-size: 2.25em;
}

nav.navbar {
  background-color: $seafoam-75;
  
  .navbar-item {
    margin: 4px 100px 4px 100px;
  }

  input#search {
  height: 22.667px;
  text-align: center;
  }

}

select {
  -webkit-appearance: none;
  border-radius: 0%;
  border-width: 0.6px;
  border-color: #C1C1C1;
  display: inline-block;
  height: 22.667px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative;
  vertical-align: top;
}

#submit button {
  -webkit-appearance: none;
  border-radius: 0px;
  height: 22.667px;
}

html {
  background-color: $seafoam-10;

}