<% @users.each do |user| %>
  <h2><%= user.full_name %></h2>
  <h3><%= user.email %></h3>
  <%= link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
  <hr>
<% end %>